/* @group Reset */
html, body, a, fieldset, div, section, form, img, label, legend, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

:focus {
	outline: none;	
}

a {
	text-decoration: none;
	color: inherit;
}

ul, ol {
	list-style: none;
}

/* @end */

body {
	background-color: #e9e5dc;
	background-image: url(../images/paper.jpg);
	font-family: "Aller Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 28px;
}

.clear {
	clear: both;
}

header {
	width: 320px;
	margin: 50px auto 80px auto;
}

header img {
	display: block;
	width: 279px;
	margin: 10px auto;
}

header p {
	color: #46220e;
	font-size: 250%;
	line-height: 120%;
	text-align: center;
	text-shadow: #fff 0px 1px 1px;
}

button {
	cursor: pointer;
}

.main-cta {
	height: 100px;
	background-image: url(../images/wood.jpg);
	background-position: top center;
}

.main-cta form {
	width: 680px;
	height: 100px;
	margin: 0 auto;
	padding: 20px;
}

.main-cta form input {
	font-family: "Aller Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200%;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border: none;
	border-radius: 4px;
	margin: 0 10px;
	padding: 10px;
	height: 40px;
	width: 400px;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.8), inset 0px 2px 2px rgba(0,0,0,0.6);
}

.main-cta form button {
	font-family: "Aller Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 160%;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F83737', endColorstr='#8F3837'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F83737', endColorstr='#8F3837')"; /* IE8 */
	background-image: -o-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(143,56,55)),
		color-stop(1, rgb(248,55,55))
	);
	background-image: linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	color: #fff;
	text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
	border: 1px solid #903737;
	border-radius: 4px;
	margin: 0 10px;
	height: 60px;
	width: 200px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.6);
}

::-webkit-input-placeholder, :-moz-placeholder, :-o-placeholder {
    color: #FFF;
    text-shadow: rgba(0,0,0,0.4) 0px 1px 1px;
}

#topBar {
	background-image: url(../images/topwood.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	height: 50px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	position: relative; /* fixes box-shadow issue */
	z-index: 1;
}

#topBar img {
	margin: auto;
	display: block;
}

#topBar form, #topBar .button {
	float: right;
	margin-top: -32px;
}

#topBar button {
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F83737', endColorstr='#8F3837'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F83737', endColorstr='#8F3837')"; /* IE8 */
	background-image: -o-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(143,56,55)),
		color-stop(1, rgb(248,55,55))
	);
	background-image: linear-gradient(bottom, rgb(143,56,55) 0%, rgb(248,55,55) 100%);
	border: medium none currentColor;
	border-radius: 3px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.400), 0px 1px 1px rgba(0, 0, 0, 0.600);
	color: #fff;
	cursor: pointer;
	margin-right: 1em;
	padding: .5em;
	line-height: 14px;
}

#content {
	background: rgb(136,101,45) url(../images/critterbg.jpg) no-repeat;
	height: 500px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	position: relative;
}

.preloader_container {
	height: 135px;
	background: url('../images/sun.png') no-repeat left top;
	width: 135px;
	position: absolute;
	left: 550px;
	top: 10px;
}

canvas {
	display: block;
	position: relative;
}

.friends {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	width: 760px;
	height: 50px;
	padding: 1em;
	margin: auto;
	margin-top: 2em;
}

.friend {
	margin: 0 10px;
	list-style: none;
}

.friend img {
	width: 48px;
	margin: 0 10px 0 0;
	float: left;
}

.friend p {
	width: 102px;
	float: left;
	margin-top: 0.6em;
	line-height: 0.8em;
}

.friend p.username{
	color: #9f682f;
}

footer {
	width: 35%;
	margin: 1em auto;
	color: #a18b6b;
	text-align: center;
	clear: both;
}

footer p.copyright {
	font-size: 80%;
	line-height: 1.2em;
}

footer a {
	text-decoration: underline;
}

#carousel_inner {  
	float: left; 
	width: 720px;
	overflow: hidden;
	margin-bottom: 2em;
}  
  
#carousel_inner ul {  
	position: relative;  
	left: 0;  
	width: 9999px; 
}  
  
#carousel_inner ul li {  
	float: left; 
	width: 165px; 
}  
  
#carousel_inner ul li img {  
	.margin-bottom: -4px; /* IE is making a 4px gap below an image inside of an anchor (<a href...>) so this is to fix that */  
	cursor: pointer;  
	cursor: hand;  
}

.scroll_arrows {  
	float: left;
}

.scroll_arrows img {  
	cursor: pointer;
	cursor: hand;
}

.scroll_arrows img:active {  
	position: relative;
	top: 1px;
}

.friends_tab {
	width: 139px;
	margin: 0 auto;
	margin-bottom: -2em;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #fff;
	height: 50px;
	display: none;
}
.friends_tab li {
	float: left;
	padding: 1em;
}

#attributes {
	background: #fff;
}

#attributes li {
	float: left;
	padding: 0 .5em;
	margin: .3em;
	cursor: pointer;
	background: rgba(255,255,255,.6);
	border-radius: 5px;
}

#attributes li:hover {
	box-shadow: 0px 1px 1px #444;
}

#attributes li:active {
	position: relative;
	top: 1px;
}

.wide {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	padding: 1em;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.wide a {
	text-decoration: underline;
}

.wide ul {
	list-style: inside;
}

.wide h2 {
	font-size: 1.5em;
}

.wide h3 {
	font-size: 1.0927em;
}

.wide h2, .wide h3 {
	margin-top: 1em;
}

.alerts {
	width: 400px;
	position: absolute;
	top: 30px;
	right: 1em;
	overflow: visible; 
	z-index: 3;
}

.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.close:hover {
	color: #000;
	text-decoration: none;
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: pointer;
}
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: rgb(136,101,45) url(../images/paper.jpg) repeat;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px #444;
	color: #222;
}
.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}
.btn {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(top, #fff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
	margin-right: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn[disabled] {
	background-color: #e6e6e6;
}
.btn:active,
.btn.active {
	background-color: #cccccc \9;
}
.btn:first-child {
	*margin-left: 0;
}
.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn-danger {
	color: #fff;
    background-color: #da4f49;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #BD362F;
    color: #fff;
}

.btn.active,
.btn:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	outline: 0;
}
.btn-success {
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -ms-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(top, #62c462, #51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	background-color: #51a351;
	color: #fff;
}
.btn-success:active,
.btn-success.active {
	background-color: #408140 \9;
}

.alert, .weapon_selection, #flash_Tutorial {
	display: none;
	//otherwise .alert's autoshow feature kicks in
}

.alert p a:not(.btn) {
	text-decoration: underline;
	cursor: pointer;
}

.weapon_selection img {
	cursor: pointer;
}

.weapon_selection img:hover {
	-moz-box-shadow: 3px 3px 1em #b3bae9;
	-webkit-box-shadow: 3px 3px 1em #b3bae9;
	box-shadow: 3px 3px 1em #b3bae9;
}

#carousel_inner ul li#lonely {
	width: 350px;
}